.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.index-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meme-container {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  gap: 40px;
  padding-left: 190px;
  max-width: 1200px;
  width: 100%;
  height: 80%; /* Ajusta la altura del contenedor */
}

/* Tarjetas más grandes y bien distribuidas */
.meme-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 45%; /* Cada tarjeta ocupa el 45% del ancho disponible */
  max-height: 100%; /* Ocupa todo el espacio vertical disponible */}

.meme-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.votes-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
 
  min-width: 20px;
  border-right: 1px solid #ddd;
}

.vote-icon {
  font-size: 30px;
  margin: 5px 0;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.vote-icon:hover {
  color: #ff4500;
  transform: scale(1.2);
}

.meme-content {
  flex: 1;
  padding: 15px;
}

.meme-content img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comments-section h4 {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-comment {
  display: flex;
  margin-top: 10px;
}

.add-comment input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-comment button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-comment button:hover {
  background-color: #e03d00;
}